In [17]:
import pandas as pd

In [18]:
df_gb = pd.read_csv('predicciones_GBoost.csv')

In [19]:
df_gb = df_gb.rename(columns={'es_fraude': 'prediccion_XGBoost'
                                   })

In [20]:
df_knn = pd.read_csv('predicciones_knn.csv')

In [21]:
df_knn = df_knn.rename(columns={'es_fraude': 'prediccion_KNN'
                                   })

In [22]:
df_1 = pd.merge(df_gb,df_knn, how = 'inner', on = ('t_id'))

In [23]:
df_rf = pd.read_csv('predicciones_Random_forest.csv')

In [24]:
df_rf = df_rf.rename(columns={'es_fraude': 'prediccion_Random_forest'
                                   })

In [25]:
df_2 = pd.merge(df_rf,df_1, how = 'inner', on = ('t_id'))

In [27]:
df_red= pd.read_csv('predicciones_red.csv')

In [28]:
df_red = df_red.rename(columns={'es_fraude': 'prediccion_Red_Neuronal'
                                   })

In [29]:
df_3 = pd.merge(df_red,df_2, how = 'inner', on = ('t_id'))

In [30]:
df_3.head(25)

,t_id,prediccion_Red_Neuronal,prediccion_Random_forest,prediccion_XGBoost,prediccion_KNN
0,1200,0,0,0,0
1,156083,0,0,0,0
2,318471,0,0,0,0
3,330446,0,0,1,0
4,399390,0,0,0,0
5,472486,0,0,1,0
6,533676,0,0,1,0
7,543910,0,0,0,0
8,601322,0,0,0,0
9,876335,0,0,1,0
10,1012596,0,0,1,0
11,1412025,0,0,1,0
12,1571403,0,0,1,0
13,1605700,0,0,1,0
14,1724871,0,0,0,0
15,1734214,0,1,1,1
16,1819443,0,1,1,1
17,2010797,0,0,0,0
18,2047268,1,1,1,1
19,2631088,1,1,1,1
20,2640911,0,1,1,1
21,2660364,0,1,1,1
22,2829165,0,1,1,1
23,3073889,0,1,1,1
24,3107872,0,0,1,0

In [31]:
df_3.to_csv('predicciones_completas.csv', index = False)