Cargamos el dataset clientes, que por cada transaccion nos informa el ID de cliente de origen y el ID de cliente de destino.

In [1]:
import pandas as pd 
import json
import csv

In [2]:
f = open('Datasets/clientes.json') 
dfclientes = json.load(f) 
f.close()

In [3]:
df = pd.DataFrame.from_dict(dfclientes)

In [5]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,6362610,6362611,6362612,6362613,6362614,6362615,6362616,6362617,6362618,6362619
origen,C1231006815,C1666544295,C1305486145,C840083671,C2048537720,C90045638,C154988899,C1912850431,C1265012928,C712410124,...,C778071008,C994950684,C1531301470,C1436118706,C2013999242,C786484425,C1529008245,C1162922333,C1685995037,C1280323807
destino,M1979787155,M2044282225,C553264065,C38997010,M1230701703,M573487274,M408069119,M633326333,M1176932104,C195600860,...,C1812552860,C1662241365,C1470998563,C1240760502,C1850423904,C776919290,C1881841831,C1365125890,C2080388513,C873221189

In [6]:
df_clientes = df.transpose()
df_clientes = df_clientes.rename_axis('t_id').reset_index()

In [7]:
df_clientes.sample(5)

            t_id       origen      destino
4274758  4274758  C1169359462  C2019066160
1073149  1073149  C1064023592   C453436048
5441499  5441499  C1514282324  C1521017053
577939    577939   C439174491  C1323976391
647118    647118  C1318541755   M363784282

Cargamos el dataset cuantia que nos informa el ID de la transacción y el monto.

In [8]:
f = open('Datasets/cuantia.json') 
dfcuantia = json.load(f) 
f.close()

In [10]:
df_ = pd.DataFrame.from_dict(dfcuantia)

In [11]:
df_.head(5)

,0,1,2,3,4,5,6,7,8,9,...,6362610,6362611,6362612,6362613,6362614,6362615,6362616,6362617,6362618,6362619
cuantia,9839.64,1864.28,181.0,181.0,11668.14,7817.71,7107.77,7861.64,4024.36,5337.77,...,63416.99,63416.99,1258818.82,1258818.82,339682.13,339682.13,6311409.28,6311409.28,850002.52,850002.52

In [12]:
df_cuantia = df_.transpose()
df_cuantia = df_cuantia.rename_axis('t_id').reset_index()

In [13]:
df_cuantia.head(5)

  t_id   cuantia
0    0   9839.64
1    1   1864.28
2    2    181.00
3    3    181.00
4    4  11668.14

In [14]:
df_cuantia.to_csv('df_cuantia.csv', index = False)

In [15]:
df_clientes.to_csv('df_clientes.csv', index = False)