In [4]:
import pandas as pd
import json

Cargamos el dataset tipo, que nos informa el tipo de la transaccion: PAYMENT TRANSFER CASH_OUT DEBIT CASH_IN

In [5]:
f = open('Datasets/tipo.json') 
dftipo = json.load(f) 
f.close()

In [6]:
ID_PAYMENT = dftipo['PAYMENT']['t_id'] 
ID_TRANSFER = dftipo['TRANSFER']['t_id']
ID_CASH_OUT = dftipo['CASH_OUT']['t_id']
ID_DEBIT = dftipo['DEBIT']['t_id']
ID_CASH_IN = dftipo['CASH_IN']['t_id']

In [7]:
str_payment = 'PAYMENT'
lista_payment = []
for i in ID_PAYMENT:
    lista_payment.append(str_payment)

In [8]:
str_transfer = 'TRANSFER'
lista_transfer = []
for i in ID_TRANSFER:
    lista_transfer.append(str_transfer)

In [9]:
lista_cashout = ['CASH_OUT'] * len(ID_CASH_OUT)
lista_debit = ['DEBIT'] * len(ID_DEBIT)
lista_cashin = ['CASH_IN'] * len(ID_CASH_IN)

In [10]:
df_tipo_payment = pd.DataFrame(list(zip(ID_PAYMENT, lista_payment  )), columns = ['t_id','tipo'])
df_tipo_transfer = pd.DataFrame(list(zip(ID_TRANSFER, lista_transfer  )), columns = ['t_id','tipo'])
df_tipo_cashout = pd.DataFrame(list(zip(ID_CASH_OUT, lista_cashout  )), columns = ['t_id','tipo'])
df_tipo_debit = pd.DataFrame(list(zip(ID_DEBIT, lista_debit)), columns = ['t_id','tipo'])
df_tipo_cashin = pd.DataFrame(list(zip(ID_CASH_IN, lista_cashin)), columns = ['t_id','tipo'])

In [11]:
df_tipo_0 = pd.merge(df_tipo_payment ,df_tipo_transfer, how = 'outer')

In [12]:
df_tipo_1 = pd.merge(df_tipo_0 ,df_tipo_cashout, how = 'outer')

In [13]:
df_tipo_2 = pd.merge(df_tipo_1 ,df_tipo_debit, how = 'outer' )

In [14]:
df_tipo_total = pd.merge(df_tipo_2 ,df_tipo_cashin, how = 'outer')

In [15]:
df_tipo_total.sample(5)

            t_id      tipo
429244   1275672   PAYMENT
1223649  3629368   PAYMENT
3159796  1333816  CASH_OUT
4781682  5913581  CASH_OUT
3067006  1084952  CASH_OUT

In [16]:
df_tipo_total.to_csv('df_tipo', index = False)