Para poder efectuar el EDA, vamos a unir los 7 archivos trabajados en un solo archivo.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

Empezamos por unir el dataset balance, clientes y cuantía. El resultado final sera un dataframe con la siguientes columnas:

    1) t_id: el identificatorio único de la transacción
    2) balance_prev_origen: el balance previo a la transacción del cliente de origen
    3) balance_post_origen: el balance posterior a la transacción del cliente de origen
    4) balance_prev_destino: el balance previo a la transacción del cliente de destino
    5) balance_post_destino: el balance posterior a la transacción del cliente de destino
    6) cuantia: el monto de la transacción

In [2]:
dfbalancefinal = pd.read_csv('df_balance.csv')

In [3]:
dfbalancefinal.head(3)

    cliente_id  t_id  balance_prev  balance_post
0  C1231006815     0      170136.0     160296.36
1  M1979787155     0           0.0          0.00
2  C1666544295     1       21249.0      19384.72

In [4]:
dfbalancefinal.shape

(12725240, 4)

In [10]:
dfbalancefinal.duplicated(subset=['cliente_id', 't_id']).value_counts()

False    12725240
dtype: int64

In [11]:
df_cuantia = pd.read_csv('df_cuantia.csv')

In [12]:
df_cuantia.sample(3)

            t_id    cuantia
5859456  5859456  343957.97
4381484  4381484    4772.57
307080    307080   19858.51

In [13]:
df_cuantia.shape

(6362620, 2)

In [19]:
df_cuantia.duplicated(subset=['t_id']).value_counts()

False    6362620
dtype: int64

In [14]:
df_clientes = pd.read_csv('df_clientes.csv')

In [44]:
df_clientes.head(3)

   t_id id_cliente_origen id_cliente_destino
0     0       C1231006815        M1979787155
1     1       C1666544295        M2044282225
2     2       C1305486145         C553264065

In [16]:
df_clientes.shape

(6362620, 3)

In [18]:
df_clientes.duplicated(subset=['t_id']).value_counts()

False    6362620
dtype: int64

Unión dataset balance y dataset clientes

In [21]:
clientes_origen = df_clientes[['t_id', 'id_cliente_origen']]

In [23]:
clientes_origen = clientes_origen.rename(columns={'id_cliente_origen':'cliente_id'
                                   })

In [25]:
df_balance_clientes_origen =  pd.merge(dfbalancefinal ,clientes_origen, how = 'inner', on = ('t_id', 'cliente_id'))

In [26]:
df_balance_clientes_origen_1 = df_balance_clientes_origen.rename(columns={'cliente_id':'id_cliente_origen','balance_prev':'balance_prev_origen','balance_post':'balance_post_origen'  })

In [27]:
df_balance_clientes_origen_1.shape

(6362620, 4)

In [28]:
df_balance_clientes_origen_1.head(5)

  id_cliente_origen  t_id  balance_prev_origen  balance_post_origen
0       C1231006815     0             170136.0            160296.36
1       C1666544295     1              21249.0             19384.72
2       C1305486145     2                181.0                 0.00
3        C840083671     3                181.0                 0.00
4       C2048537720     4              41554.0             29885.86

In [29]:
df_balance_clientes_origen_1.duplicated(subset=['t_id']).value_counts()

False    6362620
dtype: int64

In [30]:
clientes_destino = df_clientes[['t_id', 'id_cliente_destino']]

In [32]:
clientes_destino = clientes_destino.rename(columns={'id_cliente_destino':'cliente_id'
                                   })

In [36]:
df_balance_clientes_destino =  pd.merge(dfbalancefinal ,clientes_destino, how = 'inner', on = ('t_id', 'cliente_id'))

In [37]:
df_balance_clientes_destino_1 = df_balance_clientes_destino.rename(columns={'cliente_id':'id_cliente_destino','balance_prev':'balance_prev_destino','balance_post':'balance_post_destino'  })

In [38]:
df_balance_clientes_destino_1.head(5)

  id_cliente_destino  t_id  balance_prev_destino  balance_post_destino
0        M1979787155     0                  0.00                  0.00
1        M2044282225     1                  0.00                  0.00
2         C553264065     2                  0.00                  0.00
3         C553264065  6167                  0.00             109985.65
4         C553264065  7903             109985.65              99729.44

In [39]:
df_balance_clientes_destino_1.duplicated(subset=['t_id']).value_counts()

False    6362620
dtype: int64

In [40]:
df_balance_clientes =  pd.merge(df_balance_clientes_origen_1,df_balance_clientes_destino_1, how = 'inner', on = ('t_id'))

In [41]:
df_balance_clientes.shape

(6362620, 7)

In [42]:
df_balance_clientes.duplicated(subset=['t_id']).value_counts()

False    6362620
dtype: int64

In [43]:
df_balance_clientes.head(10)

,id_cliente_origen,t_id,balance_prev_origen,balance_post_origen,id_cliente_destino,balance_prev_destino,balance_post_destino
0,C1231006815,0,170136.00,160296.36,M1979787155,0.0,0.00
1,C1666544295,1,21249.00,19384.72,M2044282225,0.0,0.00
2,C1305486145,2,181.00,0.00,C553264065,0.0,0.00
3,C840083671,3,181.00,0.00,C38997010,21182.0,0.00
4,C2048537720,4,41554.00,29885.86,M1230701703,0.0,0.00
5,C90045638,5,53860.00,46042.29,M573487274,0.0,0.00
6,C154988899,6,183195.00,176087.23,M408069119,0.0,0.00
7,C1912850431,7,176087.23,168225.59,M633326333,0.0,0.00
8,C1265012928,8,2671.00,0.00,M1176932104,0.0,0.00
9,C712410124,9,41720.00,36382.23,C195600860,41898.0,40348.79

In [47]:
df_balance_clientes_1 = df_balance_clientes[['t_id','balance_prev_origen','balance_post_origen','balance_prev_destino','balance_post_destino']]

Unimos el dataset que ahora tiene el balance de origen y destino con su transacción, con la cuantía de la transacción

In [49]:
df_balance_clientes_cuantia =  pd.merge(df_balance_clientes_1 ,df_cuantia, how = 'inner', on = ('t_id'))

In [50]:
df_balance_clientes_cuantia.head(10)

,t_id,balance_prev_origen,balance_post_origen,balance_prev_destino,balance_post_destino,cuantia
0,0,170136.00,160296.36,0.0,0.00,9839.64
1,1,21249.00,19384.72,0.0,0.00,1864.28
2,2,181.00,0.00,0.0,0.00,181.00
3,3,181.00,0.00,21182.0,0.00,181.00
4,4,41554.00,29885.86,0.0,0.00,11668.14
5,5,53860.00,46042.29,0.0,0.00,7817.71
6,6,183195.00,176087.23,0.0,0.00,7107.77
7,7,176087.23,168225.59,0.0,0.00,7861.64
8,8,2671.00,0.00,0.0,0.00,4024.36
9,9,41720.00,36382.23,41898.0,40348.79,5337.77

In [51]:
df_balance_clientes_cuantia.shape

(6362620, 6)

Cargamos el dataset tipo y unimos con el dataset que tiene los datos del balance y de la cuantía

In [52]:
df_tipo = pd.read_csv('df_tipo.csv')

In [53]:
df_tipo.shape

(6362620, 2)

In [54]:
df_balance_tipo =  pd.merge(df_balance_clientes_cuantia ,df_tipo, how = 'inner', on = ('t_id'))

In [55]:
df_balance_tipo.shape

(6362620, 7)

In [56]:
df_balance_tipo.head(5)

,t_id,balance_prev_origen,balance_post_origen,balance_prev_destino,balance_post_destino,cuantia,tipo
0,0,170136.0,160296.36,0.0,0.0,9839.64,PAYMENT
1,1,21249.0,19384.72,0.0,0.0,1864.28,PAYMENT
2,2,181.0,0.00,0.0,0.0,181.00,TRANSFER
3,3,181.0,0.00,21182.0,0.0,181.00,CASH_OUT
4,4,41554.0,29885.86,0.0,0.0,11668.14,PAYMENT

Cargamos el dataset tiempo y unimos con el dataset que tiene los datos del balance, de la cuantía de la trancción y su tipo

In [57]:
df_tiempo = pd.read_csv('df_tiempo.csv')

In [58]:
df_tiempo.shape

(6362620, 2)

In [59]:
df_balance_tiempo =  pd.merge(df_balance_tipo ,df_tiempo, how = 'inner', on = ('t_id'))

In [60]:
df_balance_tiempo.shape

(6362620, 8)

In [61]:
df_balance_tiempo.head(5)

,t_id,balance_prev_origen,balance_post_origen,balance_prev_destino,balance_post_destino,cuantia,tipo,fecha_final
0,0,170136.0,160296.36,0.0,0.0,9839.64,PAYMENT,2022-09-01 08:00:00
1,1,21249.0,19384.72,0.0,0.0,1864.28,PAYMENT,2022-09-01 08:00:00
2,2,181.0,0.00,0.0,0.0,181.00,TRANSFER,2022-09-01 08:00:00
3,3,181.0,0.00,21182.0,0.0,181.00,CASH_OUT,2022-09-01 08:00:00
4,4,41554.0,29885.86,0.0,0.0,11668.14,PAYMENT,2022-09-01 08:00:00

Cargamos el dataset alarma_fraude y unimos con el dataset que tiene los datos del balance, de la cuantía de la trancción,
su tipo y tiempo.

In [76]:
df_alarma = pd.read_csv('df_alarma_fraude.csv')

In [77]:
df_alarma.shape

(16, 2)

In [78]:
df_alarma.head(5)

      t_id    mensaje_alarma
0  2736446  Detectado_fraude
1  3247297  Detectado_fraude
2  3760288  Detectado_fraude
3  5563713  Detectado_fraude
4  5996407  Detectado_fraude

In [79]:
df_balance_alarma = pd.merge(df_balance_tiempo ,df_alarma, how = 'left', on = ('t_id'))

In [80]:
df_balance_alarma.shape

(6362620, 9)

In [81]:
df_balance_alarma.sample(5)

,t_id,balance_prev_origen,balance_post_origen,balance_prev_destino,balance_post_destino,cuantia,tipo,fecha_final,mensaje_alarma
1825903,1821638,80063.95,0.00,1007854.52,1809246.72,801392.20,TRANSFER,2022-09-08 02:00:00,NaN
6337149,6337081,7712997.81,7720166.12,65855.49,58687.18,7168.31,CASH_IN,2022-09-30 02:00:00,NaN
2523017,2518108,0.00,0.00,406432.36,746269.23,339836.88,TRANSFER,2022-09-09 20:00:00,NaN
659386,657402,0.00,0.00,468475.23,569096.76,100621.53,CASH_OUT,2022-09-02 18:00:00,NaN
5184284,5181325,42675.00,40750.90,0.00,0.00,1924.10,PAYMENT,2022-09-16 06:00:00,NaN

Chequeamos una transacción donde saltó la alarma de fraude

In [82]:
a = df_balance_alarma.loc[df_balance_alarma['t_id'] == 2736446]

In [83]:
a

,t_id,balance_prev_origen,balance_post_origen,balance_prev_destino,balance_post_destino,cuantia,tipo,fecha_final,mensaje_alarma
2741452,2736446,4953893.08,4953893.08,0.0,0.0,4953893.08,TRANSFER,2022-09-10 03:00:00,Detectado_fraude

In [ ]:
Cargamos el dataset es_fraude y unimos con el dataset que tiene los datos del balance, de la cuantía de la trancción,
su tipo, tiempo y si se detecto la alarma de fraude.

In [84]:
df_fraude = pd.read_csv('df_es_fraude.csv')

In [85]:
df_fraude.shape

(6362520, 2)

In [87]:
df_fraude.head(5)

   t_id  es_fraude
0     0      False
1     1      False
2     2       True
3     3       True
4     4      False

In [88]:
df_balance_fraude = pd.merge(df_balance_alarma ,df_fraude, how = 'left', on = ('t_id'))

In [89]:
df_balance_fraude.shape

(6362620, 10)

In [90]:
df_balance_fraude.head(5)

,t_id,balance_prev_origen,balance_post_origen,balance_prev_destino,balance_post_destino,cuantia,tipo,fecha_final,mensaje_alarma,es_fraude
0,0,170136.0,160296.36,0.0,0.0,9839.64,PAYMENT,2022-09-01 08:00:00,NaN,False
1,1,21249.0,19384.72,0.0,0.0,1864.28,PAYMENT,2022-09-01 08:00:00,NaN,False
2,2,181.0,0.00,0.0,0.0,181.00,TRANSFER,2022-09-01 08:00:00,NaN,True
3,3,181.0,0.00,21182.0,0.0,181.00,CASH_OUT,2022-09-01 08:00:00,NaN,True
4,4,41554.0,29885.86,0.0,0.0,11668.14,PAYMENT,2022-09-01 08:00:00,NaN,False

In [91]:
df_transacciones = df_balance_fraude[['t_id','tipo','fecha_final','balance_prev_origen','balance_post_origen','balance_prev_destino',
                                      'balance_post_destino','cuantia', 'mensaje_alarma','es_fraude']]

In [92]:
df_transacciones.shape

(6362620, 10)

In [93]:
df_transacciones.sample(5)

,t_id,tipo,fecha_final,balance_prev_origen,balance_post_origen,balance_prev_destino,balance_post_destino,cuantia,mensaje_alarma,es_fraude
982742,979991,DEBIT,2022-09-03 03:00:00,27787.00,20352.57,2242382.43,2249816.86,7434.43,NaN,False
3687982,3683061,PAYMENT,2022-09-12 19:00:00,61888.00,46062.20,0.00,0.00,15825.80,NaN,False
2275047,2270304,CASH_IN,2022-09-09 02:00:00,2502223.76,2566819.58,1370980.35,1306384.52,64595.83,NaN,False
2318047,2313300,CASH_IN,2022-09-09 03:00:00,7983913.62,8147211.25,1210646.67,1047349.04,163297.63,NaN,False
2882039,2876993,CASH_OUT,2022-09-10 18:00:00,164411.00,0.00,0.00,293291.30,293291.30,NaN,False

In [94]:
df_transacciones.duplicated(subset=[ 't_id']).value_counts()

False    6362620
dtype: int64

In [95]:
df_transacciones.to_csv('df_transacciones.csv', index = False)