In [11]:
import pandas as pd 
import json

Cargamos el dataset sobre las transacciones que se marcaron como fraude

In [3]:
df_fraude = pd.read_json('Datasets/es_fraude.json', orient ='index')

In [4]:
df_fraude.sample(5)

             0
3931767  False
6184542  False
578720   False
6128429  False
3597744  False

In [5]:
df_fraude = df_fraude.rename(columns={0:'es_fraude'
                                   })

In [6]:
df_fraude.reset_index(level=0, inplace=True)

In [7]:
df_fraude = df_fraude.rename(columns={'index':'t_id'
                                   })

In [8]:
df_fraude.sample(5)

            t_id  es_fraude
6237952  6238050      False
5824304  5824398      False
5805792  5805886      False
139198    139199      False
4794764  4794839      False

In [9]:
df_fraude.to_csv('df_es_fraude.csv', index = False)

Cargamos el dataset sobre las transacciones en las cuales salto la alarma, (intento de transferir más de 200.000 en una sola transacción).

In [12]:
f = open('Datasets/alarma_fraude.json') 
dfalarma = json.load(f) 
f.close()

In [13]:
df_alarma = pd.DataFrame.from_dict(dfalarma, orient='index',
                       columns=['t_id', 'mensaje_alarma'])

In [14]:
df_alarma

            t_id    mensaje_alarma
2736446  2736446  Detectado_fraude
3247297  3247297  Detectado_fraude
3760288  3760288  Detectado_fraude
5563713  5563713  Detectado_fraude
5996407  5996407  Detectado_fraude
5996409  5996409  Detectado_fraude
6168499  6168499  Detectado_fraude
6205439  6205439  Detectado_fraude
6266413  6266413  Detectado_fraude
6281482  6281482  Detectado_fraude
6281484  6281484  Detectado_fraude
6296014  6296014  Detectado_fraude
6351225  6351225  Detectado_fraude
6362460  6362460  Detectado_fraude
6362462  6362462  Detectado_fraude
6362584  6362584  Detectado_fraude

In [15]:
df_alarma.to_csv('df_alarma_fraude.csv', index = False)