In [1]:
import pandas as pd
import json

Cargamos el dataset tipo, que nos informa el tipo de la transaccion: PAYMENT TRANSFER CASH_OUT DEBIT CASH_IN

In [2]:
f = open('tipo.json') 
dftipo = json.load(f) 
f.close()

In [3]:
ID_PAYMENT = dftipo['PAYMENT']['t_id'] 
ID_TRANSFER = dftipo['TRANSFER']['t_id']
ID_CASH_OUT = dftipo['CASH_OUT']['t_id']
ID_DEBIT = dftipo['DEBIT']['t_id']
ID_CASH_IN = dftipo['CASH_IN']['t_id']

In [4]:
str_payment = 'PAYMENT'
lista_payment = []
for i in ID_PAYMENT:
    lista_payment.append(str_payment)

In [5]:
str_transfer = 'TRANSFER'
lista_transfer = []
for i in ID_TRANSFER:
    lista_transfer.append(str_transfer)

In [6]:
lista_cashout = ['CASH_OUT'] * len(ID_CASH_OUT)
lista_debit = ['DEBIT'] * len(ID_DEBIT)
lista_cashin = ['CASH_IN'] * len(ID_CASH_IN)

In [7]:
df_tipo_payment = pd.DataFrame(list(zip(ID_PAYMENT, lista_payment  )), columns = ['t_id','tipo'])
df_tipo_transfer = pd.DataFrame(list(zip(ID_TRANSFER, lista_transfer  )), columns = ['t_id','tipo'])
df_tipo_cashout = pd.DataFrame(list(zip(ID_CASH_OUT, lista_cashout  )), columns = ['t_id','tipo'])
df_tipo_debit = pd.DataFrame(list(zip(ID_DEBIT, lista_debit)), columns = ['t_id','tipo'])
df_tipo_cashin = pd.DataFrame(list(zip(ID_CASH_IN, lista_cashin)), columns = ['t_id','tipo'])

In [8]:
df_tipo_0 = pd.merge(df_tipo_payment ,df_tipo_transfer, how = 'outer')

In [9]:
df_tipo_1 = pd.merge(df_tipo_0 ,df_tipo_cashout, how = 'outer')

In [10]:
df_tipo_2 = pd.merge(df_tipo_1 ,df_tipo_debit, how = 'outer' )

In [11]:
df_tipo_total = pd.merge(df_tipo_2 ,df_tipo_cashin, how = 'outer')

In [12]:
df_tipo_total.sample(5)

            t_id      tipo
2125052  6283688   PAYMENT
5005983   205022   CASH_IN
3149877  1308469  CASH_OUT
1258112  3734679   PAYMENT
4338397  4658101  CASH_OUT

In [13]:
df_tipo_total.to_csv('df_tipo.csv', index = False)